<!DOCTYPE html>
<html>
<header>
  <h1>Book Sharing App</h1>
</header>
<body>
  <div>
				<legend>Login</legend>
				<form action="Login" method="post">
					<div>
						<div >
							email
						</div>
						<div >
							<input type="text" name="email" />
						</div>
					</div>
					<div >
						<div >
							password
						</div>
						<div >
							<input type="password" name="password" />
						</div>
					</div>
							<button >
								Login
							</button>
						</div>
					</div>
				</form>
		</div>
	</div>
</body>
</html>
